*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

.page_lander{
	background-image:url(/images/page_lander.jpeg);
    height:100vh;
    width:100%;
    display: flex;
    background-size: cover;
}

.page_lander > span{
    margin: auto auto;
    background-color: rgba(255, 255, 255, 0.786);
    font-size: 3.5em;
    font-family: 'Courier New', monospace;
    padding: 0.5em;
    border-radius: 2em;
    transition: 0.5s;
}

.page_lander > span:hover{
    background-color: rgba(255, 255, 255, 0.957);
}
