.login{
    position: relative;
    left: 50%;
    top: auto;
    transform: translate(-50%,0);
    width: 50%;
    height: 60vh;
    background: rgb(255, 255, 255);
    border-radius: 15px;
}

.login h1{
    text-align: center;
    padding: 0 0 25px 0;
    border-bottom: 2px solid rgb(150, 85, 85);
}

.login form{
    padding: 0 40px;
    box-sizing: border-box;
}

.login .txt_field{
    position: relative;
    border-bottom: 2px solid #b7b5b5;
    margin: 25px 0;
} 

.txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .6s;
}

.txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: black;
    transition: .4s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
    top: -5px;
    color: black;
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
    width: 100%;
}

.forgetpass{
    margin: -5px 0 20px 5px;
    color: #a19f9f;
    cursor: pointer;
}

.forgetpass:hover{
    color: #043c62;
}

input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    border-color: black;
    background: white;
    border-radius: 25px;
    font-size: 18px;
    color: black;
    font-weight: 700;
    cursor: pointer;
}

input[type="submit"]:hover{
    border-color: black;
    background: black;
    color: white;
    transition: .6s;
}

.signup_link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}

.signup_link a{
    color: #2691d9;
    text-decoration: none;
}

.signup_link a:hover{
    text-decoration: underline;
}