.container{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 50%;
    transform: translate(-50%,0%);
}


.logo{
    width: 1.5em;
}


.container > ul > li{
    display: inline-block;
    list-style: none;
    margin: 1em 2em;
}


.container > ul > li > a{
    text-decoration: none;
    color: #ffffffdd;
    font-weight:none;
    font-size: 1em;
    position: relative;
}


.container > ul > li > a::after{
    content: '';
    width: 0%;
    height: 0.2em;
    background:rgb(255, 255, 255);
    position: absolute;
    left: 0;
    bottom: -0.5em;
    transition:0.3s;
}


.container > ul > li > a:hover::after{
    width: 100%;
}

