body {
    font-family: Arial, sans-serif;
    background-color:gray;
    margin: 0;
    padding: 0;
}

.quiz-container {
    max-width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.quiz-container h1 {
    text-align: center;
    color: green;
    font-size: 20px;
    font-weight: 300px;
    padding:10px;
    border-bottom:solid 2px green;
}
.quiz{
    padding:20px 0px;
}
.quiz h2{
    color:black;
    font-size:18px;
    font-weight:200px;
    padding:10px;
}

.btn {
    background-color:blue;
    color: white;
    margin: 10px auto;
    padding: 10px 20px;
    width: 100%;
    border: none;
    border-radius:10px;
    cursor: pointer;
    text-align:left;
    transition: 0.3s;
}

.btn:hover:not([disabled]) {
    background-color:aqua;
    color: white;
}

.btn:disabled {
    cursor: no-drop;
}

#next-btn{
    display:none;
    background-color: green;
    color: white;
    width: 150px;
    border: none;
    border-radius:10px;
    padding: 10px;
    margin: 20px;
    cursor: pointer;
    text-align:center;
}

.correct{
    background-color: green;
}

.wrong{
    background-color: red;
}

